<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2 custom-bg">
        <img src="../../assets/logo1.png" alt="logo" style="float: right; width: 120px; height: 100px;">
        Accediste a la Academia</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ancho">
            <div class="row fs-6">
                <form [formGroup]="form" class="mt-5">
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-6 m-2">
                            <p>Estimado/a [Nombre del destinatario],</p>
                        </div>

                        <p>Nos complace informarte que hemos <strong>recibido y aprobado</strong>  tu pago en la Academia de Repostería MAAD.</p>

                        <div class="box">
                            <p>Detalles del pago:</p>
                            <strong>  Nombre del alumno: </strong>[Nombre del alumno] <br>
                            <strong>Curso: </strong> [Nombre del curso] <br>
                            <strong>Monto:</strong> [Monto del pago] <br>
                            <strong>Fecha de pago:</strong> [Fecha de pago] <br>
                        </div>

                        <p>A partir de este momento, tu inscripción al curso está confirmada y asegurada.</p>

                        <p>Te recordamos que el inicio del curso está programado para [Fecha de inicio], y deberás presentarte en nuestras instalaciones ubicadas en [Dirección de la academia].</p>



                        <p>Si tienes alguna pregunta o necesitas ayuda adicional, no dudes en ponerte en contacto con
                            nosotros.</p>

                        <strong>¡Esperamos verte pronto en nuestra Academia!</strong><br>
                        <br>
                        <p>Atentamente,</p>

                        <p>Alejandra Bravo</p>
                        <p>Secretaria</p>
                        <p>Academia de Repostería MAAD</p>
                        <p>resposteria@maad.com</p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
