<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2 custom-bg">
        <img src="../../assets/logo1.png" alt="logo" style="float: right; width: 120px; height: 100px;">
        Inscripción</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ancho">
            <div class="row fs-6">
                <form [formGroup]="form" class="mt-5">
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-6 m-2">

                            <p>Estimado [Nombre del destinatario],</p>

                            <p>Gracias por tu interés a nuestros cursos. Nos complace confirmar que has sido inscrito exitosamente.</p>

                            <p>A continuación, te proporcionamos los detalles de tu inscripción:</p>

                            <ul class="box">
                                <strong>Nombre:</strong> [Nombre del participante] <br>
                                <strong>Apellido:</strong> [Nombre del participante] <br>
                                <strong>Identificación:</strong> [Identifiación del participante] <br>
                                <strong>Correo electrónico:</strong> [Correo electrónico del participante] <br>
                                <strong>Edad:</strong> [Edad del participante] <br>
                                <strong>Curso:</strong> [Curso del participante] <br>
                                <strong>Ciudad:</strong> [Ciudad del participante] <br>
                                <strong>Género:</strong> [Género del participante] <br>
                            </ul>

                            <p>Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros.</p>

                            <strong>¡Esperamos verte pronto en nuestra Academia!</strong><br>
                        <br>
                        <p>Atentamente,</p>

                        <p>Alejandra Bravo</p>
                        <p>Secretaria</p>
                        <p>Academia de Repostería MAAD</p>
                        <p>resposteria@maad.com</p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
