<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<div class="container-fluid page">        <img src="../../assets/logo1.png" alt="logo" style="float: right; width: 120px; height: 100px;">

    <div class="d-flex page__box p-3 mt-2 custom-bg">
        Pago rechazado en la Academia</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ancho">
            <div class="row fs-6">
                <form [formGroup]="form" class="mt-5">
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-6 m-2">
                            <p>Estimado/a [Nombre del destinatario],</p>
                        </div>

                        <p>Lamentamos informarte que hemos <strong>rechazado</strong> tu pago en la Academia de Repostería MAAD debido a los siguientes motivos:</p>

                        <div class="box">
                            <p>Motivos del rechazo:</p>
                            <ul>

                                <li>Cuenta de depósito equivocada.</li>
                                <li>Monto depositado incorrecto.</li>
                                <li>Comprobante no válido.</li>
                            </ul>
                        </div>

                        <p>Te recomendamos verificar la información de pago y realizar nuevamente el proceso para completar tu inscripción al curso.</p>

                        <p>Si tienes alguna pregunta o necesitas ayuda adicional, no dudes en ponerte en contacto con nosotros.</p>

                        <p>Disculpa las molestias ocasionadas y esperamos poder resolver este inconveniente para que puedas acceder a nuestros cursos en breve.</p>

                        <strong>Puede volver a enviar el comprobante de pago con la información correcta : <strong>
                            <input type="file" id="comprobante" style="display: none;">
                            <a class="cta-button" href="#" onclick="document.getElementById('comprobante').click(); return false;">Subir comprobante</a>
                          </p>
                          <script>
                            document.getElementById('comprobante').addEventListener('change', function() {
                              var files = this.files;
                              if (files.length > 0) {
                                // Aquí puedes agregar código adicional para manejar la subida del archivo.
                                console.log('Archivo seleccionado:', files[0]);
                              }
                            });
                          </script></p>
                        <p>Atentamente,</p>

                        <p>Alejandra Bravo</p>
                        <p>Secretaria</p>
                        <p>Academia de Repostería MAAD</p>
                        <p>resposteria@maad.com</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
