.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: gray;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.login-container::after {
  content: "";
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(41, 50, 50, 0.724);
  z-index: 1;
}

form {
  width: 100%;
  max-width: 400px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background: rgba(251, 251, 251, 0.938);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 2
}

input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background: rgba(192, 192, 192, 0.809);
}

input::placeholder {
  color: rgb(94, 101, 125);
}

input[type=submit] {
  cursor: pointer;
  background: rgb(10,12,58);
  color: white;
}

.icon-school {
  display: flex;
  color: rgb(10,12,58);
  font-size: 4rem;
  justify-self: center;
}

.error-text {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: rgb(228, 30, 30);
  font-size: 1rem;
  margin-top: -12px;
}

.text-center {
  width: 100%;
  text-align: center;
}

.error {
  border: 1px solid rgb(255, 63, 63);
  color: black
}

.app-name {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}
