
@import "../../home/home.component.scss";
*{
  -webkit-user-select: none; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
  -ms-user-select: none; /* Para Internet Explorer */
  user-select: none; /* Estándar */
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

table {
  width: 100%;
}


th{
  width: 18%;
}

.pointer{
  cursor: pointer;
}

.search{
  color: blue;
}

.edit{
  color: green;
}

.delete{
  color: red;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th, a, mat-label {
  font-size: 20px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 18%;
}
