
@import "../../home/home.component.scss";
.green {
  background-color: green;
}

.red {
  background-color: red;
}

table {
  width: 100%;
}


th{
  width: 18%;
}

.pointer{
  cursor: pointer;
}

.search{
  color: blue;
}

.edit{
  color: green;
}

.delete{
  color: red;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

td, th, a, mat-label {
  font-size: 15px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 18%;
}
