<div class="container">
    <h1>Pagos</h1>

</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Imagen del pago</th>
                <th>Total de curso</th>
                <th>Teléfono</th>

                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <div>
                        <button class="btn-option btn-save">Aceptar</button>
                        <button class="btn-option btn-delete">Rechazar</button>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td class="text-center" colspan="10">No existen registros todavía</td>
            </tr>
        </tbody>
    </table>
</div>