<section class="vh-100 vw-100">
  <div class="container-fluid h-custom ">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Iniciar sesión</a> -->
          <!-- <img src="./assets/pas.jpg" alt="Company Logo" width="120" /> -->
        </div>
      </nav>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../assets/logo.jpg"
          class="img-fluid"
          alt="Sample image"
          style="
              max-width: 70%;"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h3 class="text-center mb-5 text-uppercase fw-bold text-body-primary">
          Iniciar sesión
        </h3>
        <form (submit)="signIn()">
          <div
            class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
          ></div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              name="email"
              id="form3Example3"
              class="form-control form-control-lg"
              [(ngModel)]="user.email"
              placeholder="Introduzca una dirección de correo electrónico válida"
            />
            <label class="form-label" for="form3Example3"
              >Dirección de correo electrónico</label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              name="password"
              [(ngModel)]="user.password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Introducir la contraseña"
            />
            <label class="form-label" for="form3Example4">Contraseña</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Recuerdame
              </label>
            </div>
            <a href="#!" class="text-body">¿Olvidó su contraseña?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-dark btn-lg custom-bg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
            Iniciar sesión
            </button>
            <br>
            <br>

            <a href="../registro/registro.component.html" class="text-body">No tienes una cuenta?, Registrate</a>

          </div>
        </form>
      </div>
    </div>
  </div>
<div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 custom-bg"
>


    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2023. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
