<mat-nav-list class="text-white">
  <div class="logo py-4">
    <img src="./assets/logo.jpg" alt="LOGO ACADEMIA"/> </div>

  <a
    class="text-white"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard"
  >
    <mat-icon class="text-white">dashboard</mat-icon>
    <span class="text-white">Dashboard</span>
  </a>
  <a
    class="text-white"
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/clientes"
  >
    <mat-icon class="text-white" >person</mat-icon> <span class="text-white">Inscripciones</span> </a>

  <a class="text-white" mat-list-item routerLinkActive="list-item-active" routerLink="/cursos">
    <mat-icon class="text-white">school</mat-icon> <span class="text-white">Cursos</span>
  </a>

  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/solicitudes"
  >
    <mat-icon class="text-white" >assignment_ind</mat-icon> <span class="text-white">Solicitudes</span>
  </a>
</mat-nav-list>
