@import "../home/home.component.scss";

*{
-webkit-user-select: none; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
  -ms-user-select: none; /* Para Internet Explorer */
  user-select: none; /* Estándar */
}

.ancho{
  width: 85%;
}

.custom-bg {
  background: linear-gradient(0deg, #000654 0%, black 86%);
}
